doctype html
html(ng-app="sidebarApp")
  head
    link(rel='stylesheet', type='text/css', href='styles/general.css', inline)

    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" crossdomain="anonymous")
    script
      | window.data = JSON.parse(<?= JSON.stringify(data) ?>);
    script(src="parts/sidebar/index.js", inline)
  body.sidebar
    .main-content
      div Total Points: {{ $root.gameStateStoreState.userPointsBreakdown.total }}
    |
    .dev-tools Dev Tools
      div Show Store States:
        label.basic-switch        
          input(type="checkbox" ng-click="$root.sidebarActionCreator.toggleShowGameState()")
          span.blue-round-slider
      div(ng-if="$root.sidebarStoreState.showGameState")
        div Game Store State
          pre.store-state {{ $root.gameStateStoreState }}
        div Sidebar Store State
          pre.store-state {{ $root.sidebarStoreState }}
      button.basic-button(ng-click="$root.gameStateActionCreator.resetAllProperties()") Reset All Props